<h1>Wakaru</h1>

<%= form_with url: word_lookup_index_path, method: :get, local: true do |form|%>
  <%= form.label(:word, "Enter a word:") %>
  <%= form.text_field(:word, placeholder: "eg: 'Rizz'") %>
  <%= form.submit("Lookup") %>
<% end %>

<% if @word.present? %>
  <h3>Meaning for "<%= @word %>"</h3>
  <p><%= @meaning %></p>
<% end %>
